.preNav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;

}

.preNav-section div a {
    color: rgb(180, 180, 180);
    font-size: 0.9vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
}

.preNav-section > div >span{
    color: rgba(180, 180, 180, 0.644);
    font-size: 0.8vmax;
    font-weight: 100;
}

.preNav-section > div svg{
    fill: rgb(180, 180, 180);
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.retail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-left: 2px;
}
